/* ELEMENTOS QUE AFECTAN A TODA LA PÁGINA */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: solid 1px red;*/
}

/* ELEMENTOS DEL BODY */
body {
    font-family: "Courier New", monospace;
    background-color: #1a1a2e; /* gris claro */
    color: #eaeaea;
    display: flex;
    height: 100%;
}

/* NAV DESPLEGABLE */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: #1a1a2e;
    padding: 20px 20px;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 4px solid #ffcc00;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    transition: width  0.4s ease;
}

.nav:hover {
    width: 20%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.menu-lateral li {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    justify-content: start;
}

.nav h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #ffcc00;
    margin: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav ul li {
    background-color: #29304d;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav ul li:hover {
    background-color: #3e4a6b;
}

/*ÁREA PRINCIPAL DE LA PÁGINA*/
.area-principal {
    background-color: #1a1a2e;
    flex: 1;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

/*CONTENIDO DENTRO DEL AREA PRINCIPAL*/
.contenido {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

/*ELEMENTOS DE LAS 2 GALERIAS*/
.galeria{
    border-radius: 15px;
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*CONTENIDO DE LAS SUB-GALERIAS*/
.sub-galeria {
    background-color: #1B2A4B;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 25px 50px;
    flex: 1 1 100%;
    margin: 25px auto;
    width: 100%;
}

/*SUB GALERIA DE LOS CELTICS*/
.celtics{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SUB GALERIA DE LOS LAKERS*/
.lakers{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SUB GALERIA DEL PSG*/
.psg{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 30px;
}

/*SUB GALERIA DEL BARCA*/
.barca{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    flex-wrap: wrap;
}

/*CONTENEDORES FLEXIBLES (CONTENEDORES DE LAS TARJETAS)*/
.c_flex{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cont2 {
    display: flex;
    width: 100%;
    flex: 1;
}

.cont3{
    flex: 5;
    display: flex;
}

.cont4{
    display: flex;
    flex: 3;
}

.cont5{
    flex: 2;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.cont6{
    flex: 4;
    min-width:310px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.datos_equipos1 {
    display: flex;
    gap: 30px;
    width: 100%;
}

.cont7, .cont8{
    flex-direction: row;
}

/*CONTENIDO DE LAS TARJETAS*/
.tarjeta{
    flex: 1 1 100px;
    padding: 40px;
    border-radius: 10px;
    background-color: #16213e;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.tarjeta2{
    flex: 1 1 200px;
    padding: 40px;
    border-radius: 10px;
    background-color: #16213e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

/*ANIMACIÓN DE LAS TARJETAS*/
.tarjeta:hover{
    transform: scale(1.04);
}

.tarjeta2:hover{
    transform: scale(1.04);
}

/*AJUSTES DE TODAS LAS IMAGENES */
img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    min-width: 100px;
}

.imgb1{
    width: 155px;
    height: 155px;
}

.imgb2{
    width: 250px;
    height: 150px;
}

.imgb3{
    width: 290px;
    height: 150px;
}

.imgb4{
    width: 90%;
    height: 80%;
}

.img1{
    width: 75%;
    height: 90%;
}

.img2{
    width: 90%;
    height: 225px;
    border-radius: 20px;
}  

.img3{
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-radius: 20px;
}

.img4{
    height: 80%;
    width: 150px;
}


/* TARJETAS */
.celt2{
    font-size: 20px;
}

.celt3{
    padding: 30px;
}

.celt4{
    font-size: 18px;
}

.lak1{
    padding: 20px;
    flex: 1;
}

.lak2{
    flex: 1;
    font-size: 18px;
}

.lak3{
    font-size: 17px;
}

.lak4{
    padding: 10px;
}

.FCB {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FCB2 {
    flex-direction: column;
}

.FCB3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.PSG2{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*CONFIGURACIÓN DE LETRAS*/
.LY, .letrafcb{
    font-weight: bold;
    font-size: 20px;
}

.bold{
    font-weight: bold;
}