* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: solid 1px red;
}

body {
    font-family: "Courier New", monospace;
    background-color: #f2f4f8;
}

.contenedor {
    display: flex;
    height: 100%;
}

/* NAV FIJA */
.nav {
    background-color: #37474f;
    color: white;
    width: 20%;
    height: 100vh;
    position: fixed;
    min-width: 180px;  /* evita que se haga muy pequeño */
    max-width: 280px;  /* evita que se haga muy grande */
    top: 0;
    left: 0;
    padding: 20px;
}

.nav h2 {
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav a:hover {
    color: #ffd54f;
}

.area-principal {
    flex: 1;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

.contenido {
    margin-left: 250px;
    width: 100%;
    max-width: 1000px;
}

.galeria{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    flex: 1;
}

.sub-galeria {
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 25px 50px;
}

.c_flex{
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.celtics{
    display: flex;
    background-color: #058C54;
    align-items: center;
    justify-content: center;
}

.lakers{
    display: flex;
    background-color: #552583;
    align-items: center;
    justify-content: center;
}

.cont2 {
    display: flex;
    width: 100%;
    flex: 1;
}
.datos_equipos1 {
    display: flex;
    gap: 30px;
    width: 100%;
}

.tarjeta{
    flex: 1 1 250px;
    min-width: 320px;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.tarjeta2{
    flex: 1 1 100px;
    min-width: 100px;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.tarjeta:hover{
    transform: scale(1.04);
}

.imgb1{
    width: 155px;
    height: 155px;
}

.celt1{
    background-color: #DDE4DD;
}

.celt2{
    font-size: 20px;
    background-color: #FBBC53;
}

.celt3{
    padding: 30px;
    background-color: #3C3C3C;
}

.bold{
    font-weight: bold;
}

.celt4{
    font-size: 18px;
    background-color: #A63732;
    color: #F5E6DC;
}

.imgb2{
    width: 100%;
    height: 150px;
}

.cont3{
    flex: 5;
    display: flex;
}

.cont4{
    display: flex;
    flex: 3;
}

.lak1{
    padding: 20px;
    background-color: #FDBA22;
    flex: 1;
}

.lak2{
    flex: 1;
    font-size: 18px;
    background-color: #000;
    color: #fff;
}

.lak3{
    flex: 1;
    font-size: 17px;
    background-color: #525252;
    color: #FFD700;
}

.lak4{
    flex: 1;
    padding: 10px;
}

.imgb3{
    width: 290px;
    height: 150px;
}

.imgb4{
    width: 90%;
    height: 80%;
}

.psg{
    display: flex;
    background-color: #61040F;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 30px;
}

.barca{
    display: flex;
    background-color: #061840;
    justify-content: center;
    border-radius: 30px;
    flex-wrap: nowrap;
}


.FCB {
    background-color:#A2214B ;
    flex-direction: column;
}

.FCB2 {
    background-color: #00529F;
    flex-direction: column;
}

.PSG{
    background-color:#08083A;
}

.PSG2{
    font-size: 15px;
    background-color: #AA1501;
    flex-direction: column;
}


.cont5{
    flex: 2;
    min-width:310px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.cont6{
    flex: 4;
    min-width:310px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.img1{
    width: 75%;
    height: 90%;
}

.img2{
    width: 90%;
    height: 225px;
    border-radius: 20px;
}  

.img3{
    width: 100%;
    max-width: 750px; 
    height: auto;
    border-radius: 20px;
}

.img4{
    height: 90%;
    width: 200px;
}

.LY, .letrafcb{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.futbol{
    color: #fff;
}